<span id="my-player" data-id="{{ player.getId() }}"></span>

<div class="player {{ player.isKing() ? 'is-king' : '' }}">
    <div class="name">{{ player.name }}</div>

    <div class="statistic">
        {% if player.getCharacter() is not null %}
            <div class="character {{ player.getCharacter().type }}">{{ player.getCharacter().name }}</div>
        {% endif %}

        <ul class="calculations">
            <li class="gold">
                <div class="label">gld</div>
                <div>{{ player.gold }}</div>
            </li>
            <li class="cards">
                <div class="label">crd</div>
                <div>{{ player.getBuildings().count() }}</div>
            </li>
            <li class="points">
                <div class="label">pts</div>
                <div>{{ player.getPoints() }}</div>
            </li>
        </ul>
    </div>

    <ul class="buildings">
        {% for building in player.getBuildings() %}
            {% include 'CitadelsCoreBundle:Index:field/card.html.twig' with {'card': building} %}
        {% endfor %}
    </ul>
</div>
