{% extends "CitadelsCoreBundle::layout.php.twig" %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/citadelscore/css/field.css') }}" />
{% endblock %}

{% block siteHeader %}
    <header>
        {{ include('CitadelsCoreBundle:Index:field/player-compact.html.twig') }}
    </header>
{% endblock %}

{% block siteContent %}
    {{ include('CitadelsCoreBundle:Index:field/character-choice.html.twig') }}
    {{ include('CitadelsCoreBundle:Index:field/player.html.twig') }}

    <div id="action-tabs" class="tabs">
        {{ include('CitadelsCoreBundle:Index:field/tabs/actions.html.twig') }}

        <div class="tab-body">
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/draw-card.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-draw-cards.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-exchange-cards-stack.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-exchange-cards-player.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-get-card-gold.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-get-gold.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-play-cards.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-remove-card.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-stall-character.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/effect-steal-gold.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/get-gold.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/hand.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/play-card.html.twig') }}
            {{ include('CitadelsCoreBundle:Index:field/tabs/actions/end.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="{{ asset('bundles/citadelscore/js/index/field.js') }}" />
{% endblock %}
