{% extends "CitadelsCoreBundle::layout.php.twig" %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/citadelscore/css/list.css') }}" />
{% endblock %}

{% block siteHeader %}
    <header>
        <h1>Willkommen [Spielername]</h1>
        <h2>- Spielliste -</h2>
    </header>
{% endblock %}

{% block siteContent %}
    {{ include('CitadelsCoreBundle:Index:list/box/create-game.html.twig') }}
    {{ include('CitadelsCoreBundle:Index:list/box/games-pending.html.twig') }}
    {{ include('CitadelsCoreBundle:Index:list/box/games-in-progress.html.twig') }}
{% endblock %}
