{% extends "CitadelsCoreBundle::layout.php.twig" %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/citadelscore/css/index/welcome.css') }}" />
{% endblock %}

{% block siteHeader %}
    {% include 'CitadelsCoreBundle:Game:board/app-data.html.twig' %}
{% endblock %}

{% block siteContent %}
    <div>
        <div class="jumbotron">
            <h1>Ohne Furcht und Adel</h1>
            <h2>- Webversion [alpha] -</h2>

            <br />
            <form action="{{ path('game.create') }}" method="post">
                <input type="hidden" name="fingerprint" />
                <button class="btn">ein neues Spiel starten</button>
            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">deine laufenden Spiele</div>
            <div id="game-list" class="list-group" data-bind="foreach: gameList">
                <a class="list-group-item" data-bind="attr: { href: '{{ path('game.board') }}' + id()}">
                    <h4>
                        <span data-bind="text: 'Spiel ' + id()"></span>
{#                            <small><span data-bind="text: '[ ' + updatedAt + ' ]'"></small>#}
                    </h4>
                </a>
            </div>
      </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/bundles/citadelscore/js/view-model/gameList.js"></script>
    <script src="/bundles/citadelscore/js/index/welcome.js"></script>
{% endblock %}