{% set isKing = random(['', 'is-king']) %}
{% set char = random(['ass', 'thf', 'mgc', 'kng', 'prs', 'chn', 'bld', 'mrc']) %}

<div class="player {{ isKing }}">
    <div class="name">name</div>

    <div class="statistic">
        <div class="character {{ char }}">{{ char }}</div>

        <ul class="calculations">
            <li class="gold">
                <div class="label">gld</div>
                <div>{{ random(10) }}</div>
            </li>
            <li class="cards">
                <div class="label">crd</div>
                <div>{{ random(8) }}</div>
            </li>
            <li class="points">
                <div class="label">pts</div>
                <div>{{ random(16) }}</div>
            </li>
        </ul>
    </div>

    <ul class="buildings">
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
    </ul>
</div>
