<div id="tab-hand" class="tab-content hand">
    <ul class="cards">
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
        {{ include('CitadelsCoreBundle:Index:field/card.html.twig') }}
    </ul>
</div>
